/* 글꼴 - 웹폰트(SUIT Variable) */
body {
  font-family: 'SUIT Variable', sans-serif;
}

.unit {
  font-size: 0.625rem;
}

/* 글자 크기 */
.like {
  background-color: #ffc;
  /* px 단위 */
  font-size: 20px;
  /* rem 단위 */
  /* html 태그 기준(16px) * 2 = 32px */
  font-size: 2rem;
  /* em 단위 */
  /* 부모에게 상속 받은 것(10px) * 2 = 20px */
  font-size: 2em;
  /* vw 단위 */
  /* 뷰포트는 화면에 보이는 크기 */
  /* 뷰포트 크기를 기준으로 화면을 늘이고 줄이면 폰트 사이즈도 늘었다 줄어듬 */
  font-size: 5vw;
  /* vw 단위와 clamp() */
  /* 첫번째(1rem)가 최소 크기, 세번째(2rem)가 최대 크기 */
  font-size: clamp(1rem, 2.5vw, 2rem);
}

/* 글자 크기 */
.lion {
  /* 키워드로 굵기 지정 */
  font-weight: bold;
  /* 값으로 굵기 지정 */
  font-weight: 700;
}

/* 글자 스타일 */
.euid {
  background-color: #fcf;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-weight: 100;
}

.school {
  background-color: #cff;
  font-size: 20px;
  font-weight: 700;
  /* 글자 간격 */
  letter-spacing: -0.02rem;
  /* 단어 간격 */
  word-spacing: 0.25rem;
}

/* 가로 정렬 */
.frontend {
  background-color: #ccf;
  /* 가운데 정렬(center) */
  text-align: center;
  /* 왼쪽 정렬(start) */
  text-align: start;
  /* 논리 값(오른쪽 정렬-end) */
  /* text-align은 블록 요소에만 가능
  vertical-align은 인라인 요소에만 가능 */
  text-align: end;
}

/* 세로 정렬 */
.bootcamp {
  background-color: #fcfc;
  height: 50px;
  text-align: center;
  /* 가운데 정렬 */
  /* align-content도 블록 요소에서만 가능 */
  align-content: center;
  /* 밑줄 장식 */
  text-decoration: underline;
}

/* 줄 높이 */
.teacher {
  /* 20px * 100% => 20px이므로 자식의 font-size=30px, 부모에게 상속받은 line-height=20px.
  font-size보다 line-height가 작으므로 겹쳐보임.
  그러나 number는 계산된 값이 아니라 비율 자체가 상속돼서 자식의 font-size=30px, 부모에게 상속받은 line-height=1 * 30px => 30px.
  font-size와 line-height가 같으므로 겹치지 않음. */
  font-size: 20px;
  /* 현재 글자 크기 * 몇배 */
  /* 한줄 높이 - percentage */
  /* line-height: 100%; */
  /* 한줄 높이 - number */
  line-height: 1;
}

.seulbinim {
  background-color: #fcc;
  font-size: 30px;
  /* 양쪽 정렬 */
  text-align: justify;
  /* 첫줄 들여쓰기 */
  text-indent: 5em;
  /* 영문 대소문자 조정 */
  text-transform: lowercase;
}

/* font 단축 속성 */
.likelion {
  background-color: teal;
  color: white;
  padding: 10px;
  /* font-weight: 700;
  font-style: italic;
  /* 소문자로 적어도 대문자로 만든 뒤 첫글자 빼고 사이즈를 줄임*/
  /* font-variant: small-caps;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'SUIT Variable', sans-serif; */
  /* font-size와 font-family는 필수 옵션 */
  font:
    700 italic small-caps 20px/1.5 'SUIT Variable',
    sans-serif;
}
