/* border-width, border-style, border-color 속성 */
.like {
  background-color: #ffc;
  border-width: 1px 2px 3px 4px;
  border-style: solid dotted dashed double;
  border-color: red blue green orange;
}

/* border 속성 */
.lion {
  background-color: #fcf;
  /* border 속성 */
  border: 5px solid black;
  /* padding 속성 */
  padding: 10px;
  padding: 10px 20px;
  padding: 10px 20px 30px;
  padding: 10px 20px 30px 40px;
  /* margin 속성 */
  /* normal 모델에서는 상하 방향으로 margin 병합되어 총 10px */
  /* 그러나 flex 모델이나 grid 모델에서는 margin 병합되지 않아서 총 20px */
  margin: 10px;
}

/* basic 박스 모델을 활용한 가운데 정렬 레이아웃 */
.bootcamp {
  background-color: #cff;
  width: 500px;
  padding: 10px;
  border: 5px solid red;
  /* auto는 padding에서 불가 margin에서만 가능 */
  margin: 0 0 0 auto;
}

.school {
  background-color: lime;
  padding: 10px;
}

.school span {
  display: inline-block;
  /* vertical-align 속성은 block에 적용 불가 inline에만 적용 가능 */
  vertical-align: middle;
}

/* display 속성 */
.frontend {
  background-color: yellow;
  /* inline 값을 지정 */
  /* inline은 width 같은 속성을 임의로 줄 수 없음 */
  display: inline;
  /* block 값을 지정 */
  display: block;
  width: 200px;
}
