/* static 값 - 대다수 요소의 기본 값 */

/* relative 값 - 상대 위치 */
/* position: relative를 활용하여 상자 그림자 스타일링 */
/* 자기 자신이 기준이며 자식 absolute들의 기준이 되기도 함 */
.shadow {
  margin-block: 10px;
  background-color: black;
}

h3 {
  padding: 10px;
  background-color: #ffc;
  position: relative;
  top: -5px;
  left: -5px;
}

/* absolute 값 - 절대 위치 */
/* span이 조상으로 계속 올라가며 position: relative를 만나면 그 조상을 기준으로 삼음 (없으면 기준은 body) */
/* relative를 안주면 화면 오른쪽 아래에 배치되고, relative를 주면 부모 박스 안에서 오른쪽 아래에 배치됨*/
.wrapper {
  padding: 20px;
  border: 1px solid green;
  position: relative;
}

.wrapper h1 {
  padding: 20px;
  border: 1px solid red;
}

/* 태어날 때 어떤 것으로 태어났건 position: absolute를 주게되면 무조건 block이 된다 */
.wrapper h1 span {
  background-color: #fcf;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
}

/* fixed 값 - 뷰포트 기준 고정 위치 */
/* 뷰포트 기준이므로 스크롤을 해도 위치는 바뀌지 않음 */
h2 {
  background-color: #cfc;
}

h2 span {
  background-color: #ccf;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}
