/* 플렉스 속성 */
.like {
  background: var(--yellow);

  /* 플렉스 컨테이너 */
  /* 부모가 flex 컨테이너가 되는 순간 자식은 flex 아이템이 됨 = inline에서 block으로 바뀜 */
  display: flex;

  /* 플렉스 아이템의 방향 */
  /* row는 왼쪽에서 오른쪽으로. row가 기본 값, row-reverse는 반대 */
  /* float에서 inline-end로 준 것과 같음 */
  /* column은 위에서 아래로. column이 기본 값, column-reverse는 반대 */
  flex-direction: row;
  /* 플렉스 아이템의 줄바꿈 */
  inline-size: 300px;
  /* nowrap이 기본 값, wrap을 하면 줄바꿈 됨 */
  flex-wrap: nowrap;
  /* 플렉스 아이템 방향과 플렉스 아이템 줄바꿈을 지정할 수 있는 단축 속성 */
  flex-flow: row wrap;

  /* 메인축 (X축, 가로축) 정렬 */
  block-size: 150px;
  inline-size: 540px;
  justify-content: end;
  justify-content: center;
  /* 첫 항목은 시작 부분에, 마지막 항목은 끝 부분에 밀착 */
  justify-content: space-between;
  /* 사이에 있는 여백의 절반을 첫 항목은 왼쪽에, 마지막 항목은 오른쪽에 가짐 */
  justify-content: space-around;
  /* 첫 항목의 왼쪽, 마지막 항목의 오른쪽, 사이 여백 모두 동일한 여백을 가짐 */
  justify-content: space-evenly;
  justify-content: start;

  /* 교차축 (Y축, 세로축) 정렬 */
  align-items: stretch;
  align-items: start;
  align-items: end;
  /* 같은 축에 있는 다른 아이템들의 내부 텍스트들과 라인을 맞춤 */
  align-items: baseline;
  /* 옆의 크기를 기준으로 center에 정렬 됨 */
  align-items: center;

  /* 여러줄 정렬 */
  align-content: end;
  align-content: center;
  /* between, around, evenly 모두 justify-content에서 설명한 것과 똑같음. 방향이 좌우(가로축)인지 상하(세로축)인지만 다를 뿐 */
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;
  align-content: start;

  /* 갭 (아이템 사이의 여백) */
  /* 상하좌우 방향 갭 생김 */
  gap: 20px;
  /* 상위 아이템과 하위 아이템의 갭 */
  row-gap: 30px;
  /* 왼쪽 아이템과 오른쪽 아이템의 갭 */
  column-gap: 40px;
  /* 첫 번째가 row-gap, 두 번째가 column-gap */
  gap: 20px 40px;

  > span {
    background: var(--pink);
    inline-size: 250px;
  }

  .like-item1,
  .like-item4 {
    font-size: 30px;
  }

  .like-item3 {
    /* 아이템 단독 정렬 */
    align-self: end;
    align-self: start;
    align-self: center;
    align-self: stretch;
  }
}

/* float를 활용한 컬럼 레이아웃 */
.lion {
  background: var(--yellow);

  display: flow-root;
  inline-size: 500px;
  block-size: 50px;

  > span {
    background: var(--pink);
    float: inline-start;

    /* 두 번째부터 이후의 모든 값 */
    &:nth-child(n + 2) {
      margin-inline-start: 31px;
    }
  }
}

/* 인라인 플렉스 예시 */
.likelion {
  background: red;
  color: white;
  padding: 10px;
  /* 너비 / 높이 지정 (논리 속성) */
  block-size: 80px;
  inline-size: 150px;
  /* inline-block을 값으로 줄 때는 text-align, align-content 속성만 가능 */
  display: inline-block;
  text-align: center;
  align-content: center;
  /* inline-flex를 값으로 줄 때는 justify-content, align-items 속성만 가능 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* auto margin을 활용한 가운데 배치 */
.euid {
  background: var(--yellow);
  inline-size: 500px;

  > div {
    font-size: 0.95rem;
    background: var(--pink);
    inline-size: 400px;
    margin-inline: auto;
  }
}

/* 플렉스 아이템 관련 속성 */
.bootcamp {
  background: var(--yellow);
  inline-size: 500px;
  block-size: 50px;
  display: flex;
  flex-flow: nowrap row;
  column-gap: 20px;
  box-shadow: 0 0 0 1px red;

  > div {
    background: var(--pink);
    /* inline-size와 flex-basis를 같이 사용하면 basis가 우선 */
    inline-size: 100px;
    /* auto는 남는 크기를 비율로 나눠 원래 크기에 더하는 것 */
    flex-basis: auto;
    /* 0으로 설정하면 컨텐츠 주변에 여백이 고려되지 않음 */
    flex-basis: 0;
    align-content: center;
    /* 모자란 20이 4개 이므로 총 80. 80을 5개씩 나누면 16. 100px에서 16씩 빼면 84px */
    flex-basis: 100px;

    /* 홀수 번째만 선택 */
    &:nth-child(odd) {
      background: var(--mint);
      order: -1;
      flex-grow: 1;
      flex-grow: 0;
      flex-shrink: 1;
    }

    /* 짝수 번째만 선택 */
    &:nth-child(even) {
      background: var(--lavender);
      order: 1;
      flex-grow: 2;
      flex-grow: 0;
      flex-shrink: 2;
    }
  }

  /* 플렉스 속성은 flex-grow, flex-shrink, flex-basis의 단축 속성 */
  /* 기본 값은 0, 1, auto */
  .bootcamp-item1 {
    /* flex grow: 0, shrink: 0, basis: auto */
    flex: none !important;
  }

  .bootcamp-item2 {
    /* flex grow: 1, shrink: 1, basis: 0 */
    flex: 1 !important;
  }

  .bootcamp-item3 {
    /* flex grow: 0, shrink: 1, basis: 0 */
    flex: 0 !important;
  }
}
