.like {
  background: var(--mint);
  /* 다단 갯수 */
  column-count: 2;
  /* 단 구분선 */
  column-rule: 3px double red;
  /* 단과 단 사이의 여백 */
  column-gap: 40px;
}

.lion {
  background: var(--pink);
  /* 단 너비 */
  column-width: 150px;

  span {
    display: block;
    padding: 10px;
    font-size: 20px;
    background: var(--dark-blue);
    color: var(--white);
    /* 단 전체 사용 */
    column-span: all;
  }
}
