/* 유틸리티 바 */
/* float 속성을 활용한 레이아웃 */
.utility-bar.float {
  font-size: 14px;
  line-height: 1.5;
  display: flow-root;
  text-transform: uppercase;

  li,
  a,
  span {
    float: left;
  }

  a {
    padding: 8px;
  }

  span {
    margin: 8px;
  }
}

/* inline-block 값을 활용한 레이아웃 */
.utility-bar.inline-block {
  /* inline-block 요소 사이에 생기는 공백 제거용 */
  font-size: 0;
  line-height: 1.5;
  text-transform: uppercase;
  width: 389px;

  li {
    display: inline-block;
    font-size: 14px;
  }

  a {
    display: inline-block;
    padding: 7px;
  }

  span {
    display: inline-block;
    margin: 7px;
  }
}
