/* 로고 */
.logo {
  inline-size: 24px;
  /* 반응형 디자인에서 킥으로 많이 쓰임 */
  aspect-ratio: 1/1;
  display: block;
}

/* 입력 서식 */
.form-input {
  input {
    inline-size: 100%;
    block-size: 28px;
    font-size: 0.875em;
    padding: 2px 0.5em;
  }
}

/* 검색 버튼 */
.button-circle {
  background: #03cc5c;
  inline-size: 24px;
  aspect-ratio: 1/1;
  border: 0;
  padding: 0;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inline-size: 50%;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 50%;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
  }
}

.search-bar {
  display: flex;
  flex-flow: nowrap row;
  padding: 12px;
  inline-size: 320px;
  block-size: 52px;
  border: 2px solid #03cc5c;
  border-radius: 40px;

  @media (width >= 768px) {
    inline-size: auto;
  }

  .naver {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin-inline: 8px;
  }

  .search-word {
    border: none;
  }

  .search-circle {
    display: flex;
    flex-wrap: nowrap;
  }
}
