/* 컴포넌트 */
.book {
  block-size: 100px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  background: linear-gradient(skyblue, violet);

  h2 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 30px;
  }
}

.story {
  margin-top: 20px;
  display: flow-root;

  .harry {
    border-radius: 10px;
    border: 1px solid black;
    float: left;
    block-size: 300px;
    margin-right: 20px;
    inline-size: 335px;
    background: violet;

    .demian {
      margin-top: 130px;
    }
  }
}
